private/
README.md ← будет игнорировать только файл с таким именем
*.md ← будут проигнорированы все файлы с расширением .md на конце
private/todo.md ← будет проигнорирован файл todo.md, находящийся в папке private
